<ion-view class="bubble-background">
    <ion-nav-title>
      <img src="img/logo.svg">
    </ion-nav-title>
    <ion-header-bar class="bar bar-subheader">
        <div class="tabs tabs-calm static">
          <a class="tab-item" ng-class="{active: vm.predicate=='distance'}" ng-click="vm.predicate='distance'">
            <span>NEARBY</span>
          </a>
          <a class="tab-item" ng-class="{active: vm.predicate=='name'}" ng-click="vm.predicate='name'">
            <span>BY NAME</span>
          </a>
        </div>
    </ion-header-bar>
    <ion-content padding="false" scroll="true" has-bouncing="false">
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="vm.reload()">
      </ion-refresher>      
        <ion-list 
          class="friend-list" 
          show-reorder="false"          
          can-swipe="true">
          <friend-item 
            friend="friend" 
            delete="vm.delete" 
            edit="vm.edit" 
            share="vm.share" 
            ng-repeat="friend in vm.friends | orderBy:vm.predicate track by $index"></friend-item>
        </ion-list>
    </ion-content>
    <button id="fab" ui-sref="new.details" class="button button-balanced button-fab button-fab-bottom-right"><i class="icon ion-android-add"></i></button>
</ion-view>
