<ion-view class="bubble-background">

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear" ng-click="vm.cancel()">
        <i class="open-icon icon-cancel"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-title>
      {{ vm.title }}
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-show="!isSaving" ng-click="vm.save()">
        <i class="open-icon icon-validate"></i>
      </button>
    </ion-nav-buttons>

    <ion-content class="new-view" padding="false" scroll="true" has-bouncing="false">
      <ion-list >
      <div class="avatar-logo" ng-click="vm.getPicture()">
        <img ng-if="vm.newFriend.picture" class="friend-picture" ng-src="data:image/jpeg;base64,{{vm.newFriend.picture}}">
        <i ng-if="!vm.newFriend.picture" class="open-icon icon-avatar"></i>
        <div>Add photo</div>
      </div>
      <form novalidate name="vm.newForm">
        <div class="form-control">
          <i class="open-icon icon-name" ng-class="!vm.newFriend.name ? 'untouched' : ''"></i>
          <input
           type="text"
           name="username"
           id="username"
           placeholder="Name"
           required
           ng-model="vm.newFriend.name">
        </div>
        <div class="form-control code-list" ng-repeat="code in vm.newFriend.codes track by $index">
          <i class="open-icon icon-code" ng-class="!code.label ? 'untouched' : ''"></i>
          <input
           type="text"
           name="code"
           id="code"
           placeholder="Code"
           ng-required="($first) ? 'required' : ''"
           ng-model="code.label">
          <button type="button" ng-show="code.label" ng-click="vm.removeCode($index)">
            <i class="open-icon icon-cancel"></i>
          </button>
        </div>
        <button type="button" class="button-bloc" ng-cloak ng-show="vm.newFriend.codes[0].label" ng-click="vm.addCode()">
          Add code
        </button>        
        <!-- <address-input ng-model="vm.newFriend.location" user-location="vm.newFriend.location"></address-input> -->
        <div class="form-control address-input">
          <i class="open-icon icon-address" ng-class="!isSet() ? 'untouched' : ''"></i>
          <input 
          type="text" 
          name="address" 
          id="address" 
          placeholder="Address"
          ng-model="vm.newFriend.location.formatted_address"
          ng-click="vm.editAddress()"
          required
          readonly>
          <button type="button" ng-click="vm.locateMe()">
            <i class="open-icon" ng-class="(vm.fetchingAddress) ? 'icon-clock' : 'icon-locate-me' "></i>
          </button>       
        </div>
        <div class="form-control">
          <i class="open-icon icon-notes" ng-class="!vm.newFriend.notes ? 'untouched' : ''"></i>
          <textarea
          name="moreinfo"
          id="moreinfo"
          rows="2"
          placeholder="Note anything you need to remember: floor, stairs.."
          ng-model="vm.newFriend.notes"></textarea>
        </div>
      </form>
      <button type="button" class="button-bloc button-delete" ng-cloak ng-show="vm.action === 'edit'" ng-click="vm.delete()">
         <i class="open-icon icon-trash"></i>
      </button>  
      </ion-list >       
    </ion-content>
</ion-view>
