<ion-view>
  <ion-content  class="load-view" padding="false" scroll="false"  has-bouncing="false">
    <div class="row row-center">
        <div class="col col-80 col-offset-10">
            <div class="open-logo open-logo-md"></div>
            <h1>Open</h1>
            <div class="dancing-dots"> 
                <span>
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                </span> 
            </div>           
        </div>
    </div>   
  </ion-content>
</ion-view>
