<ion-view hide-nav-bar="true">
  <ion-content  class="load-view" ng-class="{anim: vm.loaded}" padding="false" scroll="false"  has-bouncing="false">
    <div class="row row-center">
        <div>
            <img class="open-logo" ng-src="img/logo.svg" alt="">
            <h1>Open</h1>
            <div class="dancing-dots " ng-hide="vm.loaded"> 
                <span>
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                </span> 
                <br><br>
            </div>           
        </div>
    </div>   
  </ion-content>
</ion-view>
