<div class="friend-item" ng-click="more = !more">
	<img ng-src="img/default-user.png">
	<h2>{{friend.name | uppercase}}</h2>
	<h3>{{friend.digicode[0].value | digicode}}</h3>
	<span class="distance">{{friend.distance | distance}}</span>
	<i class="open-icon icon-location"></i>
	<div class="more-bloc" ng-if="friend.comments">
		<p ng-show="more" class="animate-show">{{friend.comments}}</p>
		<i class="open-icon" ng-show="friend.comments" ng-class="(more) ? 'icon-less' : 'icon-more'"></i>
	</div>
</div>