.new-view  {
	// height: 100%;
	background-color: $calm;

	.avatar-logo {	
		color: $light;
		text-align: center;
		padding-top: 20px;
		width: 90px;
		margin: 0 auto 10px;

		.friend-picture {
			width: 90px;
			height: 90px;
	        border-radius: 50%;
	        @include box-shadow(2px 2px 2px 0px rgba( #999, .3 ));
	        object-fit: cover;
		}

		.icon-avatar {
			font-size: 90px;
		}
	}

	.form-control {
		background-color: darken($calm, 5%);
		color: $light;
		@include border-radius(35px);
		@include display-flex;
  		@include flex-direction(row);
  		margin: 20px;
		padding: 10px 20px;

  		&:first-child {
  			margin-top: 0;
  		}

  		&:last-child {
  			margin-bottom: 10px;
  		}

  		.open-icon {
  			margin-right: 10px;
  			font-size: 22px;
  			align-self: center;
  			&.untouched {
  				opacity: 0.5;
  			}
  		}

  		.icon-minus,
  		.icon-plus {
  			font-size: 14px;
  		}

  		button {
  			border: none;
  			background: none;
  			color: $light;

			i {
				margin: 0;
			}
  		}

		input, textarea {		
			background-color: darken($calm, 5%);
			@include display-flex;
			@include flex-grow(1);
			@include placeholder($light, 0.5);
			align-self: center;
  			color: $light;
  			margin: 0 10px;
		}

		textarea {
			resize: none;
			vertical-align:middle;
		}
	}

	.code-list input {
		text-transform: uppercase;
	}

	.button-bloc {
		background-color: transparent;
		border:1px solid $light;
		border-radius: 30px;
		padding: 5px 20px;
		margin: auto;
	    padding: 6px 50px;
	    margin: 5px auto 30px;
	    display: block;
	    color: $light;	
	    min-width: 165px;
	}

	.button-delete {
	    font-weight: bold;
	    font-size: 24px;
	    padding: 4px;
	    height: 36px;
	    margin-top: 40px;
	    margin-bottom: 30px;
	}	
}