<div class="ion-google-place-container modal">
    <div class="bar bar-header item-input-inset">
      <div class="form-control">
        <i class="open-icon icon-address" ng-class="!searchQuery ? 'untouched' : ''"></i>
        <input class="google-place-search" type="search" ng-model="searchQuery" placeholder="Address">
        <button class="button button-clear">
          <i class="open-icon icon-cancel"></i>
        </button>
      </div>  
    </div>
    <ion-content class="has-header has-header">
      <ion-list class="locations-list">
          <ion-item class="location-bloc" type="item-text-wrap" ng-repeat="location in locations" ng-click="selectLocation(location)">
            {{ location.formatted_address }}
          </ion-item>
      </ion-list>
    </ion-content>
</div>