
.address-view {
	background-color: $calm;

	.form-control {
		border: 0px solid transparent;
		background-color: transparent;
		color: $light;
		@include display-flex;
		@include flex-direction(row);
		margin: 2px 34px;
		padding: 10px 20px;

		.input-wrapper {
			border-bottom: 1px solid $light;
			@include display-flex;
			@include flex-grow(1);
			margin-left: 26px;		

			input {	
				@include display-flex;
				@include flex-grow(1);				
				@include placeholder($light, 0.5);
				background-color: transparent;
				align-self: center;
	  			color: $light;
	  			padding: 0;
			}

			button {
				box-shadow: none;
			}

		  	.button-locate {
	  			border: none;
	  			background: none;
	  			color: $light;
	  			min-width: 22px;
	  			width: 22px;
	  			min-height: 34px;
	  			height: 34px;
	  			padding: 0;
	  		}	

	  		.button-clear {
	  			border: none;
	  			background: none;
	  			color: $light;
	  			min-width: 22px;
	  			width: 22px;
	  			min-height: 34px;
	  			height: 34px;
	  			padding: 0;

	  			i { 
	  				font-size: 10px;
					margin-bottom: 10px;
	  			}
	  		}
		}

			.open-icon {
				font-size: 22px;
				align-self: center;
			}

			.icon-cancel {
				font-size: 14px;
			}	  						
	}		

	.locations-list {
	    display: block;
	    position: absolute;
	    border: 0px solid transparent;
	    left: 0;
	    width: 100%;
			
		.location-bloc {
			background-color: darken($calm, 5%);
			font-family: $PrimaryFont;
			font-size: 16px;
			margin: 4px 0;
			padding-left: 40px;
			padding-top: 18px;
			font-style: italic;
			height: 55px;
			min-height: 55px;
			color: $light;
		}
	} 
}

