
/*****************
    FRIEND LIST
******************/
@include keyframes(bg-gradient) {
  0% { background-color: $balanced;} 
  100% { background-color: $light;} 
}

.friends-view {
  background-color: $light;
  @include animation-name(bg-gradient);
  @include animation-duration(500ms);
}

.friend-list {
  .list {
    padding: 0 5px;
  }
  .friend-item {
    font-family: $PrimaryFont;
    font-weight: 700;
    border-top: medium none;
    border-left: 1px solid rgba($stable, 0.5);
    border-right: 1px solid rgba($stable, 0.5);
    border-bottom: 2px solid rgba($stable, 0.5);
    padding: 10px 0 5px;
    min-height: 120px;
    text-align: left;
    position: relative;
    margin: 5px 0 10px;

    h2 {
      margin-top: 8px;
    } 

    h3 {
      font-size: 18px;
      margin-top: 0;
    }

    h2, h3, {
      color: #000;
      font-family: $PrimaryFont; 
      margin-bottom: 8px;
    }

    h2, h3, p {
      margin-left: 105px;
    }

    img:first-child {
        position: absolute;
        border-radius: 50%;
        left: 16px;
        max-height: 65px;
        max-width: 65px;
        @include box-shadow(2px 2px 2px 0px rgba( #999, .3 ))
    }    

    .distance {
      margin-bottom: 0;
      font-size: 11px;
      color: $stable;
    }

    .open-icon {
        font-size: 22px; 
        color: $stable;
    }

    .icon-location {
      font-size: 18px;
      position: relative;
      bottom: -4px;
    }
    
    .more-bloc {
      text-align: center;
      p {
        color: $stable;
        text-align: left;
      }
      .icon-more,
      .icon-less {
        color: $balanced;
        font-size: 22px;
        position: relative;
        margin: auto;
        width: 30px; 
      }      
    }
    
  }
}

.animate-show {
  margin: 8px 0;
  line-height: 14px;
  opacity: 1;

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: all linear 0.15s;
  }
  &.ng-hide {
    line-height: 0;
    opacity: 0;
    margin: 0;
  }
}

#friendMap,
.angular-google-map,
.angular-google-map-container { 
  height: 100%;
}

.hidden {
  visibility: hidden
}