
/*****************
    FRIEND LIST
******************/
@include keyframes(bg-gradient) {
  0% { background-color: $balanced;} 
  100% { background-color: $light;} 
}

.friends-view {
  background-color: $light;
  @include animation-name(bg-gradient);
  @include animation-duration(500ms);
}

.friend-list .list {
  .friend-item {
    font-family: $PrimaryFont;
    font-weight: 700;
    border-top: medium none;
    border-bottom: 1px solid rgba($stable, 0.5);
    margin-bottom: 1px;
    min-height: 120px;
    text-align: left;
    display: flex;
    flex-direction: row;

    padding: 10px 0 5px;
    background-color: $light;

    &.activated {
      border-color: transparent;
      background-color: $light;

      &.item-complex {
        border: none;
      }
    }

    &:last-child {
      margin-bottom:20px;
    }

    .thumbnail-col {
      width: 105px;
      display:flex;
      flex-direction: column;
      align-items: center;
      flex-shrink: 0;

      .friend-img {
        border-radius: 50%;
        left: 16px;
        height: 65px;
        width: 65px;
        @include box-shadow(2px 2px 2px 0px rgba( #999, .3 ));
        object-fit: cover;
      } 

      i {
        color: $balanced;
        font-size: 18px;
        margin-top: 8px;
      }

      // .ion-chevron-up-add, .ion-chevron-remove {
      //   transition:all linear 0.2s;
      // }

      // .ion-chevron-up-add {
      //    @include rotate(180deg);
      // }

      // .ion-chevron-remove {
      //   @include rotate(0deg);
      // }

      // .ion-chevron-up,
      // .ion-chevron-up-add.ion-chevron-up-add-active {
      //   @include rotate(0deg);
      // }

      // .ion-chevron-remove.ion-chevron-remove-active {
      //   @include rotate(180deg);
      // }            
   }

    .content-col {

      h2 {
        margin-top: 8px;
        font-size: 42px;
        font-weight: 900;

        span {
          font-family: 'Helvetica';
          font-size: 30px;
          margin: 0 4px;
        }
      } 

      h3 {
        font-size: 18px;
        margin-top: 0;
      }

      h2, h3, {
        color: #000;
        font-family: $PrimaryFont; 
        margin-bottom: 8px;
      }

      p {
        margin-right: 10px;
      }

      p:last-of-type {
        margin-top: 6px;
        margin-bottom: 14px;
        line-height: 16px;
      }

      p.notes{
        white-space: normal;
      }
  
      .distance {
        margin-bottom: 0;
        font-size: 11px;
        color: $stable;
      }

      .open-icon {
          font-size: 22px; 
          color: $stable;
      }

      .icon-location {
        font-size: 18px;
        position: relative;
        bottom: -4px;
      }
      
      .buttons {
        button {
          color: $calm;
          font-size: 14px;
          margin-left: 60px;
          background-color: transparent;
          border: none;
          font-weight: 700;
          padding: 0;
          margin-bottom: 10px;
          
          i {
            margin-right: 10px; 
            color: $calm;
          }

          &:first-child {
            margin-left: 0;
          }
        } 
      }
    }
  }
}

.animate-show {
  margin: 8px 0;
  line-height: 14px;
  opacity: 1;

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: all linear 0.15s;
  }
  &.ng-hide {
    line-height: 0;
    opacity: 0;
    margin: 0;
  }
}

#friendMap,
.angular-google-map,
.angular-google-map-container { 
  height: 100%;
}

.hidden {
  visibility: hidden
}

.spinner svg {
  stroke: $balanced;
  fill: $balanced;
}

